#content
  .feature
    .hleft
      %h1.title More Like This!
      %ol
        %li Choose a video you like
        %li Get more videos you'll love
        %li ????
        %li
          %b Procrastinate!
    .hright
      %h1.title Sign Up Today
      %h3 username
      %h3 password
      %h3 password
      %button Signup Today!
      %p.sub Find videos like your favorites.
      
