#content
  .feature
    .hleft
      %img.logo(src="assets/logo_rough.png")
      %ol
        %li Choose a video %br you like
        %li Get more videos %br you'll love
        %li ????
        %li Procrastinate!
    .hright
      %h1 Start Watching
      %button#sup Sign Up
      %button#log Log In
  %p
  %p
  %p
  %h2.testimony "Who needs work when you have 'MoreLikeThis'!" 
  %h2.testimony - Miss Cleo 
  %script{:type => 'text/javascript'}
