#content
  .feature
    .hleft
      %img.logo(src="assets/logo_rough.png")
      .list
        %p 1. Choose a video <br /> you like
        %p 2. Get more videos <br /> you'll love
        %p 3. ????
        %p 4. Procrastinate!
    .hright
      %h1 Start Watching
      = button_to "Sign Up", '/users/sign_up', :method => :get, :id => 'signup'
      = button_to "Log In", '/users/sign_in', :method => :get, :id => 'login'
  %p
  %p
  %p
  %h2.testimony "Who needs work when you have 'MoreLikeThis'!" 
  %h2.testimony - Miss Cleo 
  %script{:type => 'text/javascript'}
