// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to input{
  width:275px;
  margin:20px auto 30px auto;
  height:100px;
  background:#87AFC9;
  font-size:40px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}
.button_to input:hover{
  background:#DC8B55;
}

h1.title{
text-align:center;
}
p.sub{
text-align:center;
}
body{
 /* background-color:#727275; */
}
#player{
position:relative;
width:425px;
margin-left:auto;
margin-right:auto;
}

.derpy
{
 background:red;
 width:100px;
 color: blue;
 margin: 50px auto 500px auto;
}
.donk{
  margin: 50px auto 50px auto;
}
.feature h1{
  color:white;
}
.feature{
  top:100px;
  left:50%;
  position:absolute;
  margin: 0 0 0 -360px;
  width:720px;
  background-color:#3d4573;
  height:475px
}
.logo{
  margin:5px auto;
}
.hleft{
  display:block;
  float:left;
  width:320px; /* 360 - padding*2 */
  padding:20px;
  height:475px;
  background-color:#DC8B55;
  
}
.hleft .list p{
  margin: 0 0 25px 20px;
}
.hleft .list {
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  padding:20px;
  background-color:#87AFC9;
  text-shadow: 1px 1px 3px #000;
  font-weight:bold;
  color:white;
  text-align:center;
  font-size:25px;
  margin-top:-10 px;
}
.hright{
  background-color:#416C85;
  display:block;
  float:right;
  width:320px; /* 360 - padding*2 */
  padding:20px;  height:475px;
  color:black;
  text-align:center;
}
.testimony{
  color:white;
  font-weight:bold;
  margin: 5px auto;
  text-shadow: 2px 2px 4px #000;
}
.cleo{
  top:650px;
  left:50%;
  position:absolute;
  margin: 0 0 0 -360px;
  width:720px;
  height:150px;
  text-align:center;
}
