// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#streams{
	width:60%;
	margin:0 auto;	
	background:white;
}
.baxes{
	width:100%;
	height:75px;
	border:solid black 2px;	
}
.bigbox{
	width:100%;
	height:500px;
	border:solid black 2px;	
}
