// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#streams {
  width: 840px;
  margin: 0 auto;
  background: white;
  position:relative;
}

h1{
  color:white;
}

.expand{
  font-style:italic;
  color:#BBB;
  position:absolute;
  right:20px;
  top: 15px;
}

.baxes {
  width: 100%;
  min-height: 50px;
  border: solid black 2px;
}

.bigbox {
  width: 100%;
  height: 500px;
  border: solid black 2px;
  position:relative;
}

h1#title{
  display:inline;
  float:left;
  margin-left:35px;
  color:black;
}

#liked{
  position:absolute;
  width:75px;
  height:75px;
  background:url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/liked.png) no-repeat center;
  top:-25px;
  left:-40px;
}
#liked p{
  font-size:16px;
  color:#222;
  font-weight:bold;
  margin-top:25px;
}

#clear{clear:both;}

#addvideo{
  width:  425px; 
  float:right; 
  display:inline;
  margin:25px 25px 0 0 ;
  text-align:right;
}
#addvideo input {
  font-size:16px; 
}

#player{
  border:10px solid black; 
}

#deleter{
  position:absolute;
  right:80px;
  bottom: 25px;
  width:50px;
  height:50px; 
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/delete.png);
  color:black;
  font-size:12px;
  text-align:center;
  cursor:pointer;
}

#deleter p{
  margin-left:55px; 
  cursor:pointer;
}

#deleter:hover{
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/delete_hover.png);
}

#liker{
  position:absolute;
  left:450px;
  top: 100px;
  width:100px;
  height:100px; 
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/like.png);
  color:white;
  font-size:10px;
  cursor:pointer;
}

#liker:hover{
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/like_hover.png);
}

#disliker{
  position:absolute;
  left:450px;
  bottom: 50px;
  width:100px;
  height:100px; 
  color:black;
  font-size:10px;
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/dislike.png);
  cursor:pointer;
}

#disliker:hover{
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/dislike_hover.png);
}

#nexter{
  position:absolute;
  left:450px;
  top: 50%;
  width:100px;
  height:50px; 
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/next.png);
  color:black;
  font-size:12px;
  text-align:left;
  cursor:pointer;
}

#nexter:hover{
  background:center no-repeat url(https://dl.dropboxusercontent.com/u/1695584/geoffweb/next_hover.png);
}
#nexter p{
  margin: 15px auto auto 10px;
  font-size:12px;
  font-weight:bold;
  color:#BBB;
}